@import "main_page";

.nav-block {
  height: 148px;
  background-color: $bg-light-pink-color;

  @media (max-width: 768px) {
    padding: 0 16px;
  }

  & > div {
    max-width: 1140px;
    width: 100%;
    justify-content: space-between;
    margin: auto;
    @media (max-width: 375px) {
      justify-content: center;
      margin: 0;
    }

    h1 {
      font-size: 24px;
      color: $pink-color-400;
      @media (max-width: 375px) {
        margin-top: 20px;
      }
    }
  }
}

.breadcrumb-mobile {
  @media (max-width: 375px) {
    margin-bottom: 40px;
  }
}

.breadcrumb {
  margin-bottom: 0 !important;

  .breadcrumb-item {
    text-transform: uppercase;
    font-size: 14px;

    a {
      text-decoration: none;
      color: $main-gray-color !important;
    }
  }

  .active {
    & > span {
      color: $pink-color-400 !important;
      font-weight: 700;
    }
  }
}

.filter-btn {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  font-size: 14px;
  padding: 0;

  svg {
    width: 15px;
    height: 11px;
    @media (max-width: 375px) {
      width: 37px;
      height: 25px;
    }
  }
}

.filter-text {
  margin-right: 11px;
}

.filter-bar {
  margin: 51px auto 65px;
  position: relative;
  max-width: 1140px;
  width: 100%;

  @media (max-width: 768px) {
    justify-content: space-between;
  }
}

.filter-menu {
  z-index: 1;
}

.filter__btn {
  cursor: pointer;

  &.active {
    color: $pink-color-400;

    svg {
      fill: $pink-color-400;
    }
  }
}

#filter__toggle {
  opacity: 0;

  &:checked ~ .filter__box {
    visibility: visible;
    height: 541px;
    left: 0;
  }
}

.filter__box {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  top: -13px;
  font-size: 14px;
  width: 360px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 13px 16px;
  list-style: none;
  background-color: $main-white-color;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: all 1s ease-in-out;

  & > img {
    position: absolute;
    top: 16px;
    right: 16px;
  }

  & > ul {
    padding: 0;
    list-style-type: none;
  }

  & > ul li, ol li {
    line-height: 1.3;
    list-style-type: none;
    margin: 11px 0;
  }

  & > ul > li {
    margin-top: 20px;

    & > p {
      height: 37px;
      margin: 0;
      padding: 0 0 0 11px;
      border-left: 5px solid $pink-color-400;
      border-bottom: 1px solid $sub-gray-color;
    }

    & > ol {
      padding-left: 18px;
    }
  }

  & > ul li > a {
    text-decoration: none;
    color: #6F6E6E;
    line-height: 16.8px;
  }

  & > ul li > a:hover {
    color: $pink-color-400;
  }

  & > ol {
    list-style-type: none;
  }

  p {
    color: $pink-color-400;
  }
  .filter-point {
    color: #6F6E6E;
  }

}

.filter__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    background-color: $light-gray-color;
  }
}

.dropdown-toggle {
  background-color: transparent !important;
  color: $main-gray-color !important;
  border: none !important;
  font-size: 14px !important;
  box-shadow: none !important;
}

.dropdown-menu {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  min-width: 103px !important;
  border: none !important;
}

.dropdown-item {
  display: flex !important;
  align-items: end;

  &:active {
    background-color: transparent !important;
  }

  &:hover {
    background-color: transparent !important;
    label:before {
      box-shadow: 0 0 0 2px $bg-light-pink-color;
    }
  }

  label {
    height: 22px;
    margin-right: 9px;
  }
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  color: #6F6E6E;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: flex;
  width: 13px;
  height: 13px;
  outline: 1px solid #EBEBEB;
  margin-right: 9px;
}

.custom-checkbox:checked+label::before {
  border-color: $pink-color-600;
  background: url("../assets/img/icons/check_mark_pink.svg") 0 2px no-repeat;
  background-size: contain;
}

.dropdowns-block {
  justify-content: center;
  position: absolute;
  top: -6px;
  width: 100%;
  @media (max-width: 768px) {
    top: 0;
    position: initial;
    width: auto;
  }

  & a {
    @media (max-width: 375px) {
      font-size: 12px !important;
    }
  }
}

.pagination {
  margin: 18px auto 0;
  border: 1px solid $sub-gray-color;
  border-radius: 3px;
  height: 43px !important;
  width: 284px;
  justify-content: space-around;

  .page-item {
    flex: 1;
    text-align: center;
    color: #c5c5c5;

    :first-child, :last-child {
      height: 56px;
    }

    & > a {
      font-weight: 300;
      color: #c5c5c5;
      text-decoration: none;
    }

    &.active {
      & > a {
        color: #EF5B70;
      }
    }
  }
}

.flex-0 {
  flex: 0 !important;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-r-8 {
  margin-right: 8px;
}