$main-white-color: #FFFFFF;
$main-black-color: #222222;
$pink-color-400: #F16D7F;
$pink-color-600: #EF5B70;
$pink-color-700: #FF415B;
$main-red-color: #E82943;
$bg-light-pink-color: #F1E4E6;
$sub-gray-color: #EBEBEB;
$gray-color-100: #B1B1B1;
$gray-color-200: #A4A4A4;
$gray-color-400: #EAEAEA;
$light-gray-color: #CFD8DC;
$main-gray-color: #636363;
$main-font-family: 'Lato', sans-serif;
