body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif !important;
  color: #222222;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.bg-mask:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  .tablet-hidden {
    display: none;
  }
}

@media (max-width: 375px) {
  .mobile-hidden {
    display: none;
  }
}

.mobile-show {
  display: none;
  text-decoration: none;
}
@media (max-width: 375px) {
  .mobile-show {
    display: inline;
  }
}

/* ========================================== header =============================================== */
header {
  display: grid;
  background-color: #222222;
  height: 75px;
}
@media (max-width: 768px) {
  header {
    padding: 0 32px;
  }
}
@media (max-width: 375px) {
  header {
    padding: 0 16px;
  }
}
header > div {
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
  width: 100%;
}
header > div > div:first-child > button {
  margin-left: 40px;
}
header > div > div > button {
  margin: 0 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  fill: #FFFFFF;
}

.header-logo {
  text-decoration: none;
  transition: transform 1s ease;
}
.header-logo:hover {
  filter: saturate(300%);
  transform: scale(1.2);
}
.header-logo:active {
  filter: brightness(40%);
}

.header-button {
  margin: 0 16px;
  cursor: pointer;
  background: transparent;
  border: none;
  fill: #FFFFFF;
}
.header-button:hover {
  fill: #F16D7F;
}
.header-button:active {
  fill: #FF415B;
}

.page-header-search-form {
  width: 26px;
  min-height: 26px;
  position: relative;
  margin-left: 40px;
}
@media (max-width: 375px) {
  .page-header-search-form {
    margin-left: 23px;
  }
}

.page-header-search-form:hover svg {
  fill: #F16D7F;
}

.page-header-search-btn {
  width: 0;
  min-height: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -2px;
  left: 64px;
  color: #fff;
  font-size: 16px;
  transition: all 1s ease;
}
@media (max-width: 375px) {
  .page-header-search-btn {
    background-color: #222222;
    color: #FFFFFF;
  }
}
.page-header-search-btn:focus {
  width: 150px;
  min-height: 20px;
  padding: 5px;
}
.page-header-search-btn ~ label > svg {
  transition: all 1s ease;
}
.page-header-search-btn:hover ~ label > svg {
  transform: rotate(90deg);
}
.page-header-search-btn:focus ~ label > svg {
  transform: rotate(90deg);
  fill: #F16D7F;
}
.page-header-search-btn:active ~ label > svg {
  fill: #E82943;
}

.hamburger-menu {
  margin-right: 8px;
}
@media (max-width: 375px) {
  .hamburger-menu {
    margin: 0;
  }
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
}

.menu__btn > span:after, .menu__btn > span:before, .menu__btn > span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn {
  margin: 0 16px;
  cursor: pointer;
  fill: #FFFFFF;
}
@media (max-width: 375px) {
  .menu__btn {
    margin: 0;
  }
}
.menu__btn:hover {
  fill: #F16D7F;
}
.menu__btn:active {
  fill: #FF415B;
}
.menu__btn > span:before {
  content: "";
  top: -8px;
}
.menu__btn > span:after {
  content: "";
  top: 8px;
}

.burger-title {
  font-weight: 700;
  color: #222222 !important;
  margin-bottom: 12px;
  cursor: default !important;
}

.menu__box {
  z-index: 2;
  display: flex;
  flex-direction: column;
  position: absolute;
  visibility: hidden;
  top: 75px;
  right: 0;
  font-size: 14px;
  width: 300px;
  height: 764px;
  margin: 0;
  padding: 37px 33px;
  list-style: none;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.menu__box > ul {
  padding: 0;
  list-style-type: none;
}
.menu__box > ul li, .menu__box ol li {
  line-height: 1.5;
  list-style-type: none;
  margin: 11px 0;
  width: max-content;
}
.menu__box > ul ol > li {
  cursor: pointer;
}
.menu__box > ul ol > li:hover {
  color: #F16D7F;
}
.menu__box > ul > li {
  margin-top: 20px;
}
.menu__box > ul li > a {
  text-decoration: none;
  color: #222222;
}
.menu__box > ol {
  list-style-type: none;
}
.menu__box span {
  cursor: pointer;
  color: #F16D7F;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

.header-basket {
  position: relative;
  cursor: pointer;
}

.header-basket-count {
  background-color: #F16D7F;
  border-radius: 50%;
  position: absolute;
  color: #FFFFFF;
  top: -7px;
  right: -9px;
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 12px;
  justify-content: center;
}

/* ========================================== header end ================================================= */
/* ========================================== main-promo ================================================= */
.promo-bg-color {
  background-color: #F1E4E6;
  margin: 0;
}
@media (max-width: 375px) {
  .promo-bg-color {
    height: 363px;
  }
}
.promo-bg-color > div {
  position: relative;
  margin: auto;
  max-width: 1630px;
  width: 100%;
}

.promo-video {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.promo-pic {
  z-index: 1;
  position: absolute;
  top: 290px;
  right: 330px;
  height: max-content;
  color: #FFFFFF;
  border-left: 12px solid #F16D7F;
  padding: 8px 0 0 16px;
  cursor: default;
}
@media (max-width: 375px) {
  .promo-pic {
    color: #222222;
  }
}
@media (max-width: 768px) {
  .promo-pic {
    top: 138px;
    right: 33px;
  }
}
@media (max-width: 375px) {
  .promo-pic {
    position: relative;
    top: 0;
    right: 0;
    margin: auto;
  }
}
.promo-pic > h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 768px) {
  .promo-pic > h2 {
    font-size: 24px;
  }
}
.promo-pic > h1 {
  font-size: 48px;
  font-weight: 900;
  margin: -5px;
}
@media (max-width: 768px) {
  .promo-pic > h1 {
    font-size: 44px;
  }
}

.fashion {
  color: #F16D7F;
}

/* ========================================== main-promo end ================================================= */
/* ====================================== assortment-offer-block ============================================= */
.offer:before {
  background-color: rgba(33, 22, 22, 0.7);
}
.offer:hover {
  box-shadow: 0 0 20px 0 #222222;
}

.women {
  background: url("../assets/img/pictures/for_women.png") 0 0 no-repeat;
}

.men {
  background: url("../assets/img/pictures/for_men.png") 0 0 no-repeat;
}

.kids {
  background: url("../assets/img/pictures/for_kids.png") 0 0 no-repeat;
}

.accesories {
  height: 180px;
  max-width: 1140px;
  width: 100%;
  background: url("../assets/img/pictures/accesories.png") 0 0 no-repeat;
  margin: 15px;
  position: relative;
  cursor: pointer;
  background-size: cover;
}
@media (max-width: 768px) {
  .accesories {
    max-width: 734px;
    height: 116px;
  }
}

.assortment {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  justify-content: center;
}
.assortment .offer > div {
  text-align: center;
  position: absolute;
  white-space: pre-line;
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #FFFFFF;
}
.assortment .offer > div > p {
  margin-bottom: -3px;
  line-height: 32.8px;
  font-weight: 300 !important;
}
.assortment .offer > div > h2 {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
}

.assortment-blocks {
  height: 260px;
  max-width: 360px;
  width: 100%;
  margin: 65px 15px 15px;
  position: relative;
  cursor: pointer;
  background-size: contain;
}
@media (max-width: 768px) {
  .assortment-blocks {
    width: 232px;
    height: 167px;
    margin: 20px 9.5px 0;
  }
}
@media (max-width: 375px) {
  .assortment-blocks {
    width: 343px;
    height: 247px;
    margin: 16px 0;
  }
  .assortment-blocks:first-child {
    margin-top: 64px;
  }
}

/* ====================================== assortment-offer-block end =========================================== */
/* ============================================ products-cards ================================================= */
.product-title {
  flex-direction: column;
}

.product-title-text {
  font-size: 30px;
  margin-top: 96px;
}
@media (max-width: 768px) {
  .product-title-text {
    margin-top: 64px;
  }
}

.product-title-desc {
  color: #9F9F9F;
  font-size: 14px;
  margin: 5px 0 48px;
  word-spacing: 1px;
}
@media (max-width: 768px) {
  .product-title-desc {
    margin-bottom: 64px;
  }
}

.products a {
  text-decoration: none;
}

.products-list {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  justify-content: space-between;
  padding: 0;
}
@media (max-width: 768px) {
  .products-list {
    justify-content: space-evenly;
  }
}
.products-list > li {
  height: 581px;
  max-width: 360px;
  width: 100%;
  background-color: #F8F8F8;
  margin-bottom: 30px;
  cursor: pointer;
  list-style-type: none;
}
.products-list > li a {
  text-decoration: none;
}
.products-list > li:hover .hidden-layer {
  justify-content: center;
  display: flex;
}
.products-list .product-desc {
  padding: 25px 18px;
}
.products-list .product-desc > span {
  font-size: 13px;
  color: black;
}
.products-list .product-desc > p {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
}

.price {
  color: #F16D7F;
}

.product-picture {
  position: relative;
  height: 420px;
  width: 100%;
  background-color: #F7E4E2;
  justify-content: center;
}

.hidden-layer {
  display: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.buy-button {
  justify-content: space-evenly;
  min-height: 43px;
  max-width: 140px;
  width: 100%;
  color: #FFFFFF;
  margin: auto;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  fill: #FFFFFF;
  font-size: 14px;
}
.buy-button > svg {
  height: 23px;
  width: 25px;
}
.buy-button:hover {
  color: #222222;
  fill: #222222;
  background-color: #FFFFFF;
}
.buy-button:active {
  background-color: transparent;
  border: 1px solid #FFFFFF;
  fill: #FFFFFF;
  color: #FFFFFF;
}

/* ========================================= products-cards end =============================================== */
/* ======================================== products-show-button ============================================== */
.product-button {
  height: 47px;
  max-width: 211px;
  width: 100%;
  color: #F16D7F;
  border: 1px solid #F16D7F;
  background-color: transparent;
  justify-content: center;
  margin: 18px auto 0;
  cursor: pointer !important;
}
.product-button:hover {
  color: #FFFFFF;
  border: 1px solid #F16D7F;
  background-color: #F16D7F;
}
.product-button:active {
  background-color: #F16D7F;
}
.product-button > a {
  color: #F16D7F;
  text-decoration: none !important;
}

/* ========================================= products-show-button end ============================================= */
/* ============================================== benefits-block ================================================== */
.benefits-block {
  background-color: #222222;
  min-height: 341px;
  color: #FFFFFF;
  margin-top: 95px;
}
.benefits-block > aside {
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: auto;
  padding: 104px 0;
  align-items: end;
}
@media (max-width: 768px) {
  .benefits-block > aside {
    align-items: center;
    flex-direction: column;
    padding: 48px 0 81px;
  }
}
.benefits-block > aside > div {
  max-width: 360px;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: #FBFBFB;
  font-size: 14px;
}
.benefits-block > aside > div > p:nth-child(2) {
  font-weight: 400;
  font-size: 20px;
  margin: 28px 0 16px;
}
.benefits-block > aside > div > p:nth-child(3) {
  padding: 0 30px;
}

/* ========================================= benefits-block end =======+====================================== */
/* =============================================== footer ==================================================== */
footer {
  background-color: #222222;
}

.footer-subscribe-info {
  height: 448px;
  position: relative;
  background-color: #FFFFFF;
}
@media (max-width: 768px) {
  .footer-subscribe-info {
    height: 693px;
  }
}
@media (max-width: 375px) {
  .footer-subscribe-info {
    height: 550px;
  }
}
.footer-subscribe-info > div {
  background: url("../assets/img/pictures/footer_bg.png") 0 0 no-repeat;
  display: flex;
  height: 100%;
  margin: auto;
  max-width: 1600px;
  width: 100%;
  justify-content: space-around;
}
@media (max-width: 768px) {
  .footer-subscribe-info > div {
    background: url("../assets/img/pictures/tablet-bg.png") 0 0 no-repeat;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
}
@media (max-width: 375px) {
  .footer-subscribe-info > div {
    padding: 0 16px;
    justify-content: flex-start;
  }
}
.footer-subscribe-info > div:before {
  background-color: rgba(255, 255, 255, 0.7);
}
.footer-subscribe-info > div > div {
  z-index: 1;
  max-width: 360px;
  width: 100%;
  text-align: center;
}
.footer-subscribe-info > div > div:first-child {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 375px) {
  .footer-subscribe-info > div > div:first-child {
    margin-top: 50px;
  }
}
.footer-subscribe-info > div > div:first-child > img {
  margin-bottom: 30px;
}
.footer-subscribe-info > div > div:nth-child(2) > p {
  font-size: 24px;
  font-weight: 700;
  white-space: pre-line;
  line-height: 30px;
}
@media (max-width: 375px) {
  .footer-subscribe-info > div > div:nth-child(2) > p {
    flex-grow: 1;
  }
}
.footer-subscribe-info > div > div:nth-child(2) > p > span {
  font-size: 18px;
  font-weight: 400;
}
@media (max-width: 375px) {
  .footer-subscribe-info > div > div:nth-child(2) > p > span {
    font-size: 14px;
  }
}

/* ========================================== footer-form ================================================= */
.footer-form {
  height: 49px;
  margin-top: 30px;
}

.footer-form-input {
  width: 256px;
  background-color: #E1E1E1 !important;
  border-top-left-radius: 23px !important;
  border-bottom-left-radius: 23px !important;
  border: none !important;
  font-size: 14px !important;
  padding: 0 22px !important;
}
.footer-form-input:focus {
  box-shadow: none !important;
}

.footer-form-btn {
  width: 100px;
  background-color: #F16D7F !important;
  color: #FFFFFF !important;
  border: none !important;
  border-top-right-radius: 23px !important;
  border-bottom-right-radius: 23px !important;
  font-size: 14px !important;
}
.footer-form-btn:focus {
  box-shadow: none !important;
}
.footer-form-btn:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}
.footer-form-btn:active {
  background-color: #E82943 !important;
}

/* ========================================== footer-form end ================================================= */
.brand-btn {
  background-color: #FFFFFF;
  border: none;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
}
.brand-btn:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}
.brand-btn:hover > svg {
  fill: #FFFFFF;
}
.brand-btn:active {
  background-color: #E82943 !important;
  color: #FFFFFF !important;
}
.brand-btn > svg {
  fill: #222222;
}

.footer-copyright {
  color: #FFFFFF;
  height: 79px;
}
@media (max-width: 768px) {
  .footer-copyright {
    padding: 0 32px;
  }
}
@media (max-width: 375px) {
  .footer-copyright {
    height: 143px;
  }
}
.footer-copyright > div {
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 375px) {
  .footer-copyright > div {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }
}
@media (max-width: 375px) {
  .footer-copyright > div .align-center {
    flex-grow: 1;
  }
}
.footer-copyright > div > p {
  margin: auto 0;
}
@media (max-width: 375px) {
  .footer-copyright > div > p {
    margin-bottom: 9px;
  }
}

/* ========================================== footer end ================================================ */
.nav-block {
  height: 148px;
  background-color: #F1E4E6;
}
@media (max-width: 768px) {
  .nav-block {
    padding: 0 16px;
  }
}
.nav-block > div {
  max-width: 1140px;
  width: 100%;
  justify-content: space-between;
  margin: auto;
}
@media (max-width: 375px) {
  .nav-block > div {
    justify-content: center;
    margin: 0;
  }
}
.nav-block > div h1 {
  font-size: 24px;
  color: #F16D7F;
}
@media (max-width: 375px) {
  .nav-block > div h1 {
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .breadcrumb-mobile {
    margin-bottom: 40px;
  }
}

.breadcrumb {
  margin-bottom: 0 !important;
}
.breadcrumb .breadcrumb-item {
  text-transform: uppercase;
  font-size: 14px;
}
.breadcrumb .breadcrumb-item a {
  text-decoration: none;
  color: #636363 !important;
}
.breadcrumb .active > span {
  color: #F16D7F !important;
  font-weight: 700;
}

.filter-btn {
  background-color: transparent !important;
  color: black !important;
  border: none !important;
  font-size: 14px;
  padding: 0;
}
.filter-btn svg {
  width: 15px;
  height: 11px;
}
@media (max-width: 375px) {
  .filter-btn svg {
    width: 37px;
    height: 25px;
  }
}

.filter-text {
  margin-right: 11px;
}

.filter-bar {
  margin: 51px auto 65px;
  position: relative;
  max-width: 1140px;
  width: 100%;
}
@media (max-width: 768px) {
  .filter-bar {
    justify-content: space-between;
  }
}

.filter-menu {
  z-index: 1;
}

.filter__btn {
  cursor: pointer;
}
.filter__btn.active {
  color: #F16D7F;
}
.filter__btn.active svg {
  fill: #F16D7F;
}

#filter__toggle {
  opacity: 0;
}
#filter__toggle:checked ~ .filter__box {
  visibility: visible;
  height: 541px;
  left: 0;
}

.filter__box {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  top: -13px;
  font-size: 14px;
  width: 360px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 13px 16px;
  list-style: none;
  background-color: #FFFFFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  transition: all 1s ease-in-out;
}
.filter__box > img {
  position: absolute;
  top: 16px;
  right: 16px;
}
.filter__box > ul {
  padding: 0;
  list-style-type: none;
}
.filter__box > ul li, .filter__box ol li {
  line-height: 1.3;
  list-style-type: none;
  margin: 11px 0;
}
.filter__box > ul > li {
  margin-top: 20px;
}
.filter__box > ul > li > p {
  height: 37px;
  margin: 0;
  padding: 0 0 0 11px;
  border-left: 5px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
}
.filter__box > ul > li > ol {
  padding-left: 18px;
}
.filter__box > ul li > a {
  text-decoration: none;
  color: #6F6E6E;
  line-height: 16.8px;
}
.filter__box > ul li > a:hover {
  color: #F16D7F;
}
.filter__box > ol {
  list-style-type: none;
}
.filter__box p {
  color: #F16D7F;
}
.filter__box .filter-point {
  color: #6F6E6E;
}

.filter__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.filter__item:hover {
  background-color: #CFD8DC;
}

.dropdown-toggle {
  background-color: transparent !important;
  color: #636363 !important;
  border: none !important;
  font-size: 14px !important;
  box-shadow: none !important;
}

.dropdown-menu {
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  min-width: 103px !important;
  border: none !important;
}

.dropdown-item {
  display: flex !important;
  align-items: end;
}
.dropdown-item:active {
  background-color: transparent !important;
}
.dropdown-item:hover {
  background-color: transparent !important;
}
.dropdown-item:hover label:before {
  box-shadow: 0 0 0 2px #F1E4E6;
}
.dropdown-item label {
  height: 22px;
  margin-right: 9px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  color: #6F6E6E;
  user-select: none;
}

.custom-checkbox + label::before {
  content: "";
  display: flex;
  width: 13px;
  height: 13px;
  outline: 1px solid #EBEBEB;
  margin-right: 9px;
}

.custom-checkbox:checked + label::before {
  border-color: #EF5B70;
  background: url("../assets/img/icons/check_mark_pink.svg") 0 2px no-repeat;
  background-size: contain;
}

.dropdowns-block {
  justify-content: center;
  position: absolute;
  top: -6px;
  width: 100%;
}
@media (max-width: 768px) {
  .dropdowns-block {
    top: 0;
    position: initial;
    width: auto;
  }
}
@media (max-width: 375px) {
  .dropdowns-block a {
    font-size: 12px !important;
  }
}

.pagination {
  margin: 18px auto 0;
  border: 1px solid #EBEBEB;
  border-radius: 3px;
  height: 43px !important;
  width: 284px;
  justify-content: space-around;
}
.pagination .page-item {
  flex: 1;
  text-align: center;
  color: #c5c5c5;
}
.pagination .page-item :first-child, .pagination .page-item :last-child {
  height: 56px;
}
.pagination .page-item > a {
  font-weight: 300;
  color: #c5c5c5;
  text-decoration: none;
}
.pagination .page-item.active > a {
  color: #EF5B70;
}

.flex-0 {
  flex: 0 !important;
}

.mar-l-8 {
  margin-left: 8px;
}

.mar-r-8 {
  margin-right: 8px;
}

.carousel-block {
  height: 777px;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EAEAEA;
}
@media (max-width: 768px) {
  .carousel-block {
    height: 624px;
  }
}
@media (max-width: 768px) {
  .carousel-block img {
    width: 466px;
  }
}
@media (max-width: 375px) {
  .carousel-block img {
    width: 374px;
  }
}
.carousel-block .carousel {
  display: flex;
  margin: auto;
  text-align: -webkit-center;
}
@media (max-width: 375px) {
  .carousel-block .carousel {
    height: inherit;
    align-items: center;
  }
}
.carousel-block .carousel-control-prev {
  padding: 0 5px 0 0;
}
.carousel-block .carousel-control-next {
  padding: 0 0 0 5px;
}
.carousel-block button {
  width: 47px;
  height: 47px;
  margin: auto;
  background-color: #2A2A2A26;
}
.carousel-block button > svg {
  fill: black;
}

.chosen-product-section {
  height: 664px;
  position: relative;
}

.chosen-product-block {
  padding: 65px;
  font-weight: 300;
  background-color: white;
  text-align: center;
  max-width: 1140px;
  width: 100%;
  height: 601px;
  top: -65px;
  left: 0;
  margin: auto;
  right: 0;
  position: absolute;
  border: 1px solid #EAEAEA;
}
@media (max-width: 768px) {
  .chosen-product-block {
    max-width: 768px;
  }
}
@media (max-width: 375px) {
  .chosen-product-block {
    max-width: 375px;
    padding: 65px 25px;
    top: 0;
  }
}
.chosen-product-block > a {
  text-decoration: none;
}

.chosen-product-title {
  color: #F16D7F;
  font-weight: 300;
  font-size: 14px;
}

.chosen-product-name {
  font-weight: 300;
  font-size: 18px;
  color: #4D4D4D;
  margin-bottom: 33px;
}

.bottom-pink-br {
  width: 63px;
  margin: 12px auto;
  background-color: #EF5B70;
  height: 3px !important;
  opacity: 1;
}

.chosen-product-desc {
  white-space: pre-wrap;
  color: #5E5E5E;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
@media (max-width: 375px) {
  .chosen-product-desc {
    margin-top: 10px;
    white-space: normal;
  }
}

.chosen-product-price {
  margin: 17px 0 62px;
  font-size: 24px;
  color: #F16D7F;
}
@media (max-width: 375px) {
  .chosen-product-price {
    margin: 32px auto 32px;
  }
}

.chosen-product-dropdowns-block {
  justify-content: center;
}

.bottom-gray-br {
  max-width: 641px;
  width: 100%;
  margin: 0 auto 59px;
  background-color: #EAEAEA;
  opacity: 1;
}
@media (max-width: 375px) {
  .bottom-gray-br {
    max-width: 174px;
    margin: 0 auto 49px;
  }
}

.chosen-product-button {
  height: 47px;
  width: 211px;
  border: 1px solid #F16D7F;
  background-color: transparent;
  justify-content: space-evenly;
  margin: 37px auto 0;
  color: #F16D7F;
  cursor: pointer !important;
}
@media (max-width: 375px) {
  .chosen-product-button {
    margin: 60px auto 0;
  }
}
.chosen-product-button .chosen-product-basket-icon {
  margin-right: -15px;
  height: 24px;
  width: 26px;
}
.chosen-product-button .chosen-product-basket-icon > svg {
  width: 100%;
  height: 100%;
  fill: #F16D7F;
}
.chosen-product-button:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}
.chosen-product-button:hover .chosen-product-basket-icon > svg {
  fill: white;
}

.chosen-product-dropdown-text {
  color: #6F6E6E !important;
}
@media (max-width: 375px) {
  .chosen-product-dropdown-text {
    font-size: 10px !important;
  }
}

.chosen-product-products-list {
  margin-bottom: 98px;
}
@media (max-width: 375px) {
  .chosen-product-products-list {
    margin-bottom: 64px;
  }
}

.dropdown-toggle:after {
  width: 11px;
  height: 6px;
  vertical-align: 0.105em !important;
  margin-left: 0.575em !important;
  background: url("../assets/img/icons/arrow_down.svg") 0 0 no-repeat;
  border: none !important;
}

@media (max-width: 375px) {
  .product-card-mobile {
    margin-bottom: 0 !important;
  }
}

.cart-container {
  max-width: 1140px;
  width: 100%;
  margin: 96px auto 128px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cart-container {
    justify-content: center;
    margin-top: 59px;
  }
}
@media (max-width: 375px) {
  .cart-container {
    margin: 36px auto 96px;
  }
}

.cart-product-card {
  margin-bottom: 40px;
  max-width: 652px;
  width: 100vw;
  height: 306px;
  flex-wrap: nowrap;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background: white;
}
@media (max-width: 768px) {
  .cart-product-card {
    max-width: 734px;
  }
}
@media (max-width: 375px) {
  .cart-product-card {
    max-width: 358px;
    margin: 0 auto 32px;
    height: 188px;
  }
}
.cart-product-card h1 {
  width: 200px;
  font-size: 24px;
  margin-bottom: 42px;
}
@media (max-width: 375px) {
  .cart-product-card h1 {
    width: 140px;
    font-size: 16px;
    margin-bottom: 26px;
  }
}
.cart-product-card > img {
  width: 262px;
  height: 306px;
}
@media (max-width: 375px) {
  .cart-product-card > img {
    width: 144px;
    height: 188px;
  }
}

.cart-form-btn, .cart-product-card--button {
  border: 1px solid #A4A4A4;
  font-weight: 300;
  background-color: transparent;
}
.cart-form-btn:hover, .cart-product-card--button:hover {
  background-color: #A4A4A4;
  color: #FFFFFF;
}
.cart-form-btn:active, .cart-product-card--button:active {
  background-color: #888888;
}

.cart-product-card--button {
  font-size: 14px;
  width: 224px;
  height: 49px;
}
@media (max-width: 375px) {
  .cart-product-card--button {
    width: 174px;
    height: 32px;
    font-size: 12px;
  }
}

.cart-product-buttons-block {
  margin-top: 72px;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .cart-product-buttons-block {
    margin-top: 62px;
    justify-content: space-evenly;
  }
}
@media (max-width: 375px) {
  .cart-product-buttons-block {
    margin-top: 30px;
  }
}

.cart-form-btn {
  font-size: 11px;
  width: 100px;
  height: 34px;
  margin-top: 24px;
}

.cart-product-card--content {
  width: 100%;
  padding: 22px 22px 22px 31px;
  color: #575757;
  font-size: 22px;
}
@media (max-width: 375px) {
  .cart-product-card--content {
    padding: 13px 17px;
    font-size: 14px;
  }
}
.cart-product-card--content > div:first-child {
  justify-content: space-between;
}
.cart-product-card--content svg {
  width: 18px;
  height: 18px;
  margin-top: 5px;
  cursor: pointer;
}
@media (max-width: 375px) {
  .cart-product-card--content svg {
    width: 11px;
    height: 11px;
  }
}
.cart-product-card--content > p {
  margin-bottom: 6px;
  height: 26px;
}
@media (max-width: 375px) {
  .cart-product-card--content > p {
    margin-bottom: 3px;
    height: 16px;
  }
}
.cart-product-card--content > p > span {
  color: #F16D7F;
}

.cart-product-card--input {
  align-items: center;
}
.cart-product-card--input p {
  margin: 0;
}
.cart-product-card--input > label > input {
  margin-left: 24px;
  text-align: center;
  font-size: 18px;
  width: 44px;
  height: 24px;
  border: 1px solid #EAEAEA;
}
.cart-product-card--input > label > input::-webkit-outer-spin-button, .cart-product-card--input > label > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
@media (max-width: 375px) {
  .cart-product-card--input > label > input {
    font-size: 10px;
    width: 23px;
    height: 15px;
  }
}

.cart-form-container {
  flex-direction: column;
  max-width: 360px;
  width: 100%;
}
@media (max-width: 768px) {
  .cart-form-container {
    max-width: 100%;
    margin-top: 64px;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (max-width: 375px) {
  .cart-form-container {
    margin-top: 48px;
  }
}

.cart-form {
  display: flex;
  flex-direction: column;
}
.cart-form h2 {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 0;
}
.cart-form input {
  width: 360px;
  height: 45px;
  margin-top: 20px;
  padding: 14px 17px;
  border: 1px solid #A4A4A4;
}

.cart-price-block {
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  padding: 43px;
  background-color: #F5F3F3;
  height: 214px;
  max-width: 360px;
  width: 100%;
  text-align: right;
}
@media (max-width: 768px) {
  .cart-price-block {
    margin-top: 40px;
  }
}
.cart-price-block .cart-br-line {
  margin-top: 7px;
  opacity: 1;
  background-color: #E2E2E2;
}
.cart-price-block p {
  margin-bottom: 13px;
  white-space: pre;
  line-height: 13px;
}

.sub-total-test {
  font-size: 11px;
}

.grand-total-test {
  font-size: 16px;
}
.grand-total-test span {
  color: #F16D7F;
}

.cart-price-pay-button {
  background-color: #F16D7F;
  font-weight: 300;
  width: 100%;
  height: 50px;
  border: none;
  color: white;
  margin-top: auto;
}
.cart-price-pay-button:hover {
  background-color: #EF5B70;
}
.cart-price-pay-button:active {
  background-color: #FF415B;
}

.reg-content {
  padding: 64px 64px 96px;
}
@media (max-width: 768px) {
  .reg-content {
    padding: 40px 16px 96px;
  }
}
@media (max-width: 375px) {
  .reg-content {
    padding: 40px 8px 96px;
  }
}
.reg-content > div {
  justify-content: space-between;
  margin: auto;
  max-width: 1140px;
  width: 100%;
}

.reg-form {
  width: 360px;
}
.reg-form p {
  margin-bottom: 0;
}
.reg-form .reg-form-block {
  display: flex;
  flex-direction: column;
}

.input-title {
  font-weight: 300;
  color: #222222;
}

.reg-form-block-input {
  max-width: 360px;
  width: 100%;
  height: 45px;
  margin-top: 20px;
  padding: 14px 17px;
  border: 1px solid #A4A4A4;
}
.reg-form-block-input::-webkit-input-placeholder {
  color: #B1B1B1;
}

.reg-gender-block {
  margin: 31px 0 33px;
}
.reg-gender-block input {
  width: 17px;
  height: 17px;
  margin-right: 10px;
}
.reg-gender-block label {
  margin-right: 20px;
  font-weight: 300;
  font-size: 11px;
}

.password-desc {
  margin: 15px 0 39px;
  font-size: 13px;
  font-weight: 300;
  color: #B1B1B1;
  line-height: 15.6px;
}

.join-button {
  justify-content: space-evenly;
  min-height: 50px;
  max-width: 167px;
  margin-top: 39px;
  width: 100%;
  color: #FFFFFF;
  border: none;
  background-color: #F16D7F;
  cursor: pointer;
  fill: #FFFFFF;
  font-size: 14px;
}
.join-button > svg {
  height: 23px;
  width: 25px;
}
.join-button:hover {
  background-color: #EF5B70;
}
.join-button:active {
  background-color: transparent;
  border: 1px solid #FF415B;
  fill: #FF415B;
  color: #FF415B;
}

.reg-benefits {
  font-weight: 300;
  font-size: 24px;
  line-height: 28.8px;
  max-width: 650px;
}
@media (max-width: 768px) {
  .reg-benefits {
    max-width: 360px;
    font-size: 16px;
  }
}
@media (max-width: 375px) {
  .reg-benefits {
    margin-top: 48px;
  }
}
.reg-benefits p {
  margin-bottom: 21px;
}
.reg-benefits li {
  margin-bottom: 16px;
  list-style-image: url("../assets/img/icons/check_mark.svg");
}
.reg-benefits h2 {
  margin-bottom: 22px;
  font-size: 24px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .reg-benefits h2 {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

/*# sourceMappingURL=main.css.map */
